{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %} Customer List {% endblock title %}
{% block content %}
<main class="main-wrapper ms-sm-auto py-4 px-md-4 border-start">

    <div class="row my-4">
        <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
                <h5 class="mb-4">Customers List</h5>
                <div class="d-flex">
                    <a class="btn btn-outline-info mb-4 ms-auto" href="{% url 'new-customer' %}">Add New Customer</a>
                </div>


                <div class="table-responsive">
    <table class="account-table table">
        {% render_field filter.form.Name class="input" placeholder="Search by Customer" %}
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="20%">Name</th>
                <th width="15%">Sector</th>
                <th width="10%">Phone</th>
                <th width="15%">Email ID</th>
                <th width="10%">EORI Number</th>
                <th width="10%">VAT Number</th>
                <th width="20%">Action</th>
            </tr>
        </thead>
{% if object_list %}
        <tbody>
            {% for customer in object_list %}
            <tr>
                <td>
                    <h6><a href="{% url 'customer' customer.pk %}">{{ customer.Name }}</a> </h6>
                </td>
                <td class="align-middle"> {{ customer.type_of_business }} </td>
                <td class="align-middle blurred-text blur-text" > {{ customer.phone }} </td>
                <td class="align-middle blurred-text blur-text" > {{ customer.email }} </td>
                <td class="align-middle blurred-text blur-text" > {{ customer.EORI_number }} </td>
                <td class="align-middle "> {{ customer.VAT_number }} </td>
                <td class="align-middle">
                    <div class="align-middle">
                        <a href="{% url 'edit-customer' customer.pk %}" class="badge text-bg-success">+ Edit</a><br/>
                        <a href="{% url 'delete-customer' customer.pk %}" class="badge text-bg-danger">- Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="align-middle">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        {% endif %}
    </div>
{% else %}
        <tbody></tbody>
    </table>
    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, SUCH EMPTY</div>
{% endif %}
</main>
{% endblock content %}