{% extends "base.html" %}

{% block title %} User Registration {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center" style="color: #ea2088; font-weight: bold;">User Registration</h2>
            <br><br>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" class="form-control{% if form.username.errors %} is-invalid{% endif %}" id="id_username" value="{{ form.username.value|default_if_none:'' }}">
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_username">First Name:</label>
                    <input type="text" name="first_name" class="form-control{% if form.first_name.errors %} is-invalid{% endif %}" id="id_first_name" value="{{ form.first_name.value|default_if_none:'' }}">
                    {% for error in form.first_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_username">Last Name:</label>
                    <input type="text" name="last_name" class="form-control{% if form.last_name.errors %} is-invalid{% endif %}" id="id_last_name" value="{{ form.last_name.value|default_if_none:'' }}">
                    {% for error in form.last_name.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_password1">Password:</label>
                    <input type="password" name="password1" class="form-control{% if form.password1.errors %} is-invalid{% endif %}" id="id_password1" value="{{ form.password1.value|default_if_none:'' }}">
                    {% for error in form.password1.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_password2">Password confirmation:</label>
                    <input type="password" name="password2" class="form-control{% if form.password2.errors %} is-invalid{% endif %}" id="id_password2" value="{{ form.password2.value|default_if_none:'' }}">
                    {% for error in form.password2.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="id_email">Email address:</label>
                    <input type="email" name="email" class="form-control{% if form.email.errors %} is-invalid{% endif %}" id="id_email" value="{{ form.email.value|default_if_none:'' }}">
                    {% for error in form.email.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label>Customer Or Manufacturer</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_staff" id="is_staff_true" value="1" {% if form.is_staff.value == '1' %}checked{% endif %}>
                        <label class="form-check-label" for="is_staff_true">Supplier</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="is_staff" id="is_staff_false" value="0" {% if form.is_staff.value == '0' %}checked{% endif %}>
                        <label class="form-check-label" for="is_staff_false">Buyer</label>
                    </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
